# Игнорируем бинарные файлы и исполняемые файлы
/bin/
/F1_catalog.exe
/F1_catalog
*.exe
*.so
*.dll

# Игнорируем файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорируем кеш модулей Go
/go/pkg/
/go/bin/

# Игнорируем временные файлы
*.log
*.tmp

# Игнорируем пользовательские настройки
.env
*.env

# Игнорируем сгенерированные файлы Fyne
/fyne-cross/